/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */

#video-container {
  width: 200px;
  overflow: hidden;
  display: block;
  height: 200px;
  margin-top: 10px;
}

video {
  margin-left: -220px;
}