@font-face {
  font-family: "Open Sauce";
  src: url("../public/fonts/opensauce/OpenSauceSans-Black.ttf");
}

@font-face {
  font-family: "DM Sans";
  src: url("../public/fonts/dmsans/DMSans-Regular.ttf");
}

:root {
  --white: #fcfbf9;
  --black: #07060E;
  --gray: #DFE4E7;
  --blue: #335578;
  --red: #D82602;
  --green: #86B02F;

}

body {
  margin: 0;
  font-family: "DM Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sauce", Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
  overflow-y: scroll;
  width: 8px;
  background-color: red; 
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: white;
  background-color: var(--white);

}

::-webkit-scrollbar-thumb {
  border-radius: 10px; 
  background-color: var(--gray);
}

.btn-primary {
  background-color: var(--blue);
  box-shadow: 2px 2px 3px var(--gray);
  border: none;
}

.btn-primary:hover {
  background-color:#21384e;
  box-shadow: 1px 1px 3px var(--gray);
  border: none;
}

.btn-secondary {
  background-color: var(--green);
  box-shadow: 1px 1px 3px var(--gray);
  border:none;
}

.btn-secondary:hover {
  background-color: #75992c;
}

.btn-danger {
  background-color: #D82602;
  box-shadow: 1px 1px 3px var(--gray);
}

.btn-danger:hover {
  background-color: #a01c02;
  box-shadow: 1px 1px 3px var(--gray);
}

a {
  text-decoration: none;
  list-style-type: none;
  color: var(--black)
}