.container-login {
  display: flex;
  height: 100%vh;
}

.img-container {
  background-image: url("C:\Users\rebec\workspace\bookhoarder\public\images\bookshelf.jpg");
  background-size: cover;
  width: 65%;
  height: 100vh;
}

.container-login section {
  width: 35%;
}

header img {
  width: 100%;
}

h1 {
  margin: 0;
}

