.container-login {
  display: flex;
  height: 100%vh;
}

.img-container {
  background-image: url("C:\Users\rebec\workspace\bookhoarder\public\images\bookshelf.jpg");
  background-size: cover;
  width: 60%;
  height: 100vh;
}

.container-login section {
  width: 40%;
}

.container-login h1 {
  margin: 0;
}

header {
  margin: 15% 10% 0 5%;
}

header img {
  width: 100%;
}

.buttons-container {
  align-self: center;
}

footer {
  background-color: var(--gray);
  padding: 12% 5%;
  font-size: 1.2rem;
  font-style: italic;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

